h1{
    font-style: italic;
    font-weight: bold;
}

body {
    background-color: #FAFAFA;
    color: #575757;
}

#complete-by{
    padding-left: 10px;
}

#form-zone{
    padding-top: 7px;
}

.btn-primary{
    background: none;
    border: 4px solid powderblue;
    color: #575757;
}

.btn-primary:hover{
    background: powderblue;
    border: 4px solid #93D9E0;
    color: #575757;
}

.btn-success{
    background: none;
    border: 4px solid #DAFFDA;
    color: #575757;
}

.dropdowns{
    float: right;
}

.container-fluid {
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: powderblue;
}

.form-control{
    margin: 3px;
}

.form-control:focus{
    border-color: powderblue;
}

.incomplete-task{
    background-color: #F8D9D9;
}

.complete-task{
    background-color: #DAFFDA;
}

.table-time{
    color: #DF7700;
    font-family: "impact";
}